<aside class="col sidebar-container">
  <div
    class="border-top px-3 py-3 icon-sidebar-item"
    [class.active]="activeItem === 'comments'"
    (click)="setActive('comments')"
  >
    <div class="conversation-avatar">
      <fa-icon [icon]="['fas', 'comments']" size="2x"></fa-icon>
    </div>
  </div>

  <div
    class="border-top px-3 py-3 icon-sidebar-item"
    [class.active]="activeItem === 'ticket'"
    (click)="setActive('ticket')"
  >
    <div class="conversation-avatar">
      <fa-icon [icon]="['fas', 'ticket']" size="2x"></fa-icon>
    </div>
  </div>

  <div
    class="border-top px-3 py-3 icon-sidebar-item"
    [class.active]="activeItem === 'users'"
    (click)="setActive('users')"
  >
    <div class="conversation-avatar">
      <fa-icon [icon]="['fas', 'users']" size="2x"></fa-icon>
    </div>
  </div>

  <div
    class="border-top px-3 py-3 icon-sidebar-item"
    [class.active]="activeItem === 'hammer'"
    (click)="setActive('hammer')"
  >
    <div class="conversation-avatar">
      <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon>
    </div>
  </div>

  <div
    class="border-top px-3 py-3 icon-sidebar-item"
    [class.active]="activeItem === 'chart-pie'"
    (click)="setActive('chart-pie')"
  >
    <div class="conversation-avatar">
      <fa-icon [icon]="['fas', 'chart-pie']" size="2x"></fa-icon>
    </div>
  </div>
</aside>
